html,
body,
section {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

section {
    background-color: #49a6e95a;
    display: flex;

    position: absolute;
    top: 0;
    left: 0;
}

body {
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.main,
.popup {
    min-height: 290px;
    min-width: 600px;
    border-radius: 10px;
    background-color: #F1f5f8;
    display: grid;
    box-sizing: border-box;
    padding: 60px 53px
}

.main h1,
.popup h1 {
    font-size: 4.5rem;
    color: hsl(209, 61%, 16%);
    font-weight: 700;
}

.main button,
.popup button {
    font-family: inherit;
    height: 36px;
    width: 175px;
    ;
    border-radius: 8px;
    background-color: #49a6e9;
    color: #F1f5f8;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 1.1rem;
    border: none;
}

.main button:hover,
.popup button:hover {
    transition: 1s;
    background-color: #F1f5f8;
    border: 2px #49a6e9 solid;
    color: #49a6e9;
}


.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.popup h1 {
    font-size: 2rem;
    color: hsl(209, 61%, 16%);
    font-weight: 600;
    letter-spacing: 3px;
}

.popup svg {
    position: absolute;
    height: 2.2em;
    fill: #bb2525;
    top: 14px;
    right: 10px;
    transition: transform .5s;
}

.popup svg:hover {
    transform: scale(1.2);
    fill: #bb2525b9;
    cursor: pointer;
}

.hide {
    display: none;
}