body,
html {
    margin: 0;
    width: 100%;
    font-family: "Open Sans";
}

body {
    padding: 80px 0;
}

section {
    width: 90%;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.image {
    width: 100%;
    min-width: 300px;
}

h1 {
    width: 100%;
    text-align: left;
    font-size: 1.35rem;
    letter-spacing: 2px;
    margin-bottom: 0;
    margin-top: 32px;
}

h2 {
    width: 100%;
    text-align: left;
    font-size: 1rem;
    letter-spacing: 2px;
}

p {
    font-size: .88rem;
    line-height: 22px;
}

article {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

article div {
    width: 74px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: steelblue;
    justify-content: center;
    font-weight: 600;
    letter-spacing: 1px;
}

article div span:nth-of-type(1) {
    font-size: 1.7rem;
}

@media(width>1000px) {
    section {
        width: 100%;
    }

    .image {
        width: 90%;
        justify-self: flex-end;
        max-width: 505px;
    }

    .panel {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 50px;
    }

    h1 {
        font-size: 1.7rem;
        letter-spacing: 2px;
        margin-bottom: 0;
        margin-top: 0px;
    }

    h2 {
        margin-bottom: 30px;
    }

    p {
        width: 505px;
        font-size: 1rem;
        line-height: 22px;

    }

}